*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

.container-fluid{
    width: 40%;
    height: 90%;
    margin: 0 auto;
    margin-top: 100px;
}
.container-fluid h2{
    color: rgb(30, 151, 192);
    position: relative;
    width: 23rem;
}
.accordian{
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #6db5ff;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.icon{
    color: #6db5ff;
    border-radius: 10px;
    padding-left: 40px;

}
.panel{
    
    border-left: 1px solid #6db5ff;
    text-align: justify;
    overflow: hidden;
    max-height: 0px;

}

h2{
    padding-bottom: 20px;
}
.accordian h5{
    padding-left: 10px;
}
.panel p{
    line-height: 30px;
    padding-left: 20px;
}